@import "tailwindcss";
@theme {
  --color-sefid: #fafafa;
  /* پس زمینه سایت */
  --color-zoghal: #1a1a1a;
  /* متن‌ها، تیتر اصلی */
  --color-khakestar-100: #efefef;
  /* سکشن‌های جداکننده، باکس‌ها */
  --color-khakestar-200: #c4c4c4;
  /* بوردر، متن‌های فرعی، فرم‌ها */
  --color-khakestar-300: #3b3b3b;
  /* زیرتیتر، متن hover و جزئیات	 */
  --color-tala: #bfa166;
  /* دکمه‌ها، لینک‌های خاص، CTA */
}
@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}
body{
  background-color: #FAFAFA;
  font-family: 'Vazir';
  font-display: swap;
}

.cont{
    width: 100%;
    max-width: 1360px;
    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 1360px /* 1280px */) {
        max-width: 1360px /* 1280px */;
    }

}
.cont,
.cont-fluid,
.cont-xxl,
.cont-xl,
.cont-lg,
.cont-md,
.cont-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
a {
  font-weight: 500;
  color: var(--color-zoghal);
  text-decoration: inherit;
  transition: all 0.3s;
}
a:hover {
  color: var(--color-tala);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-khakestar-100);
  color: var(--color-tala);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  color: var(--color-khakestar-300);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
